<%- include('partials/header.ejs') %>
<div class="signin-section">
    <p>URL Shortner</p>
    <a href="/api/auth/signin/google" class="googleSignin">
      <span class="text">Sign in with Google</span>
    </a>
  </div>
<%- include('partials/footer.ejs') %>

